<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../web/css/user/partner/partner.css">
  <link rel="shortcut icon" href="../../../assets/icons/favicon.png" type="image/x-icon" />
  <title>WEB KRİPTO - Bizimle Çalışın</title>
</head>

<body>

  <nav><!--Navigation Bar Starts Here-->
    <ul class="header-profile">
      <a href="/">
        <li><img src="../../../assets/icons/favicon-home.png" alt=""></li>
      </a><!--LOGO-->
      <a href="#" class="display-picture"><img src="../../../assets/images/user-icon.png" alt=""></a><!--Profile Image-->
    </ul>
    <div class="card hidden">

      <ul><!--MENU-->
        <li><a href="../../../index.html">Ana Sayfa</li></a>
        <li><a href="../../../view/user/analysis/analysis.html">Canlı Analiz</li></a>
      
        <li><a href="../../../view/user/partner/partner.html">Bizimle Çalışın</li></a>
        <li><a href="mailto:info@yebea.net" target="_blank">Yardım Merkezi</li></a>
    <li><a href="https://t.me/+nYlAgQdcawdjMjg8" target="_blank">Telegram</li></a>
      </ul>
    </div>
  </nav>



  <div>


    <!-----------SOCIAL MEDIA ACCOUNT ALL------------------->

    <div id="socialMediaAccount">

      <div id="sponsors">
        <div id="mexcSponsor">
        <a href="https://www.mexc.co/tr-CT/invite/customer-register?inviteCode=mexc-webkripto" target="_blank">  <img src="/assets/images/mexc.jpg" alt="" width="100%" height="auto"></a>
        </div>
      </div>
        <section>
          <h1>İş Ortaklarımız</h1>
          <div class="slider">
            <div class="slider-items">
              <img src="https://www.amberdata.io/hs-fs/hubfs/MEXC_logo.png?width=480&name=MEXC_logo.png" alt=""
                width="480px" height="auto">
              <img
                src="https://images.cointelegraph.com/cdn-cgi/image/format=auto,onerror=redirect/https://s3.cointelegraph.com/storage/uploads/view/fbe8b5cf8780a6a5f6ff3678e60ed349.png"
                alt="" width="240px" height="auto">
              <img
                src="https://lever-client-logos.s3.us-west-2.amazonaws.com/3530792d-a2b9-422a-8e00-dc0ea639941b-1632720076474.png"
                alt="" width="480px" height="auto">
              <img src="" alt="" width="480px" height="auto">

              <img src="" alt="" width="480px" height="auto">
            </div>
          </div>

        </section>

    
<br><br><br>
      <div id="socialMedia">
        <div class="shareArticle">
          <div class="shareSocial">
            <h3 class="socialTitle">BİZİ TAKİP EDİN!</h3>
            <ul class="socialList">
              <li><a href="https://x.com/WKriptoAnaliz" target="_blank"><img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000" alt="" width="64px" height="64px"></a></li>
              <li><a href="https://t.me/+nYlAgQdcawdjMjg8" target="_blank"><img src="https://img.icons8.com/?size=100&id=oWiuH0jFiU0R&format=png&color=000000" alt="" width="64px" height="64px"></a></li>
              <li><a href="https://www.youtube.com/@webkripto" target="_blank"><img src="https://img.icons8.com/?size=100&id=19318&format=png&color=000000" alt="" width="64px" height="64px"></a></li>
              <li><a href="#"><img src="https://img.icons8.com/?size=100&id=5zuVgEwv1rTz&format=png&color=000000" alt="" width="64px" height="64px"></a></li>

            </ul>
          </div>
        
        </div>
      </div>

    </div>







 <!--Mobile Bottom-->
 <div id="mobileBottom">
  <div class="nav-box">
    <ul class="nav-container">
      <li class="nav__item ">
        <a href="../../../index.html" class="nav__item-link">
          <div class="nav__item-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>

        </a>
      </li>
    
      <li class="nav__item ">
        <a href="../../../view/user/analysis/analysis.html" class="nav__item-link">
          <div class="nav__item-icon">
            <ion-icon name="analytics-outline"></ion-icon>
          </div>

        </a>
      </li>  
      <li class="nav__item active ">
        <a href="../../../view/user/partner/partner.html" class="nav__item-link">
          <div class="nav__item-icon ">
            <ion-icon name="earth-outline"></ion-icon>
          </div>

        </a>
      </li>
      <li class="nav__item">
        <a href="https://t.me/+nYlAgQdcawdjMjg8" class="nav__item-link" target="_blank" >
          <div class="nav__item-icon">
            <ion-icon name="share-social-outline"></ion-icon>
          </div>

        </a>
      </li>
    </ul>
  </div>
</div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="../../../web/js/user/partner/partner.js"></script>
    <script src="../../../controller/user/partner/partner.js"></script>
</body>

</html>
