<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../web/css/user/analysis/analysis.css">
    <link rel="shortcut icon" href="../../assets/icons/favicon.png" type="image/x-icon" />
    <title>WEB KRİPTO - Canlı Analiz</title>
</head>
<body>
    
    <nav><!--Navigation Bar Starts Here-->
        <ul class="header-profile">
          <a href="/"><li><img src="././assets/icons/favicon-home.png" alt=""></li></a><!--LOGO-->          <a href="#" class="display-picture"><img src="/assets/images/user-icon.png" alt=""></a><!--Profile Image-->
          </ul>
          <div class="card hidden">
            
            <ul><!--MENU-->
              <li><a href="././index.html">Ana Sayfa</li></a>
              <li><a href="././view/user/analysis/analysis.html">Canlı Analiz</li></a>
          
              <li><a href="././view/user/partner/partner.html">Bizimle Çalışın</li></a>
              <li><a href="mailto:info@yebea.net" target="_blank">Yardım Merkezi</li></a>
              <li><a href="https://t.me/+nYlAgQdcawdjMjg8" target="_blank">Telegram</li></a>
            </ul>
          </div>
      </nav>




  <!--Crypto Price Tracker-->
<div id="cryptoPriceTracker">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  </div>
  <!-- TradingView Widget END -->

</div>
    




  <!--Mobile Bottom-->
  <div id="mobileBottom">
    <div class="nav-box">
      <ul class="nav-container">
        <li class="nav__item ">
          <a href="././index.html" class="nav__item-link">
            <div class="nav__item-icon">
              <ion-icon name="home-outline"></ion-icon>
            </div>

          </a>
        </li>
      
        <li class="nav__item active">
          <a href="././view/user/analysis/analysis.html" class="nav__item-link">
            <div class="nav__item-icon">
              <ion-icon name="analytics-outline"></ion-icon>
            </div>

          </a>
        </li>  
        <li class="nav__item ">
          <a href="././view/user/partner/partner.html" class="nav__item-link">
            <div class="nav__item-icon ">
              <ion-icon name="earth-outline"></ion-icon>
            </div>

          </a>
        </li>
        <li class="nav__item">
          <a href="https://t.me/+nYlAgQdcawdjMjg8" class="nav__item-link" target="_blank">
            <div class="nav__item-icon">
              <ion-icon name="share-social-outline"></ion-icon>
            </div>

          </a>
        </li>
      </ul>
    </div>
  </div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
    <script src="././web/js/user/analysis/analysis.js"></script>
    <script src="././controller/analysis/analysis.js"></script>
</body>
</html>
